@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Плавный скролл
    */
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }










header {
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
    width: 640px;
    height: 72px;
}

.header img {
    height: 24px;
    width: 24px;
}



.section__h1 {
    margin-top: 20px;
    color: white;
    font-family: "Roboto", serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    width: 560px;
    height: 97px;
    font-family: "Roboto", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
}
.button__button {
    font-family: "Roboto", serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    display: flex;
    justify-content: center;
}
button {
    color: rgb(81, 172, 255);
    font-family: "Roboto", serif;
    background: none;
    border: none;
    margin-bottom: 25px;
}


.section__div {
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    font-family: "Roboto", serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    background-color: rgb(20, 24, 34);
}


.section__div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.section__div-p {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}

.section__div-h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgb(125, 125, 125);
    width: 640px;
    height: 140px;
    background-color: #313131;
}


.footer__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 40px;
    
}

.footer__words {
    
    display: flex; 
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-family: serif;
}


.footer__h3 {
    font-family: "Roboto", serif;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
}

.footer__h3-2 {
    font-family: "Roboto", serif;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
}

@media (max-width: 560px) { 
    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 650px;
        gap: 5px;
    }

    .section__div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin: 0;
        
    }
  
    .main img {
        height: 200px;
        width: 200px;
        margin-top: -30px;
    }
    .section__h1 {
        width: 200px;
        font-size: 18px;
        margin: 0;
        height: 47px;
        margin-bottom: 30px;
    }
    .section__div-p {
      font-size: 8px;
    }
    .section__div-h2 {
      font-size: 20px;
    }
    .foorer{
        height: 140px;
    }
    .footer__logo {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }
    .footer__h3 {
      margin-top: 10px;
        font-size: 10px;
    }
    .footer__h3-2 {
        font-size: 10px;
    }
    
}

